<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ledger -->
      <package
            uri="urn:org.nasdanika.ledger"
            class="org.nasdanika.ledger.LedgerPackage"
            genModel="model/ledger.genmodel"/>
   </extension>

</plugin>
